.task-card  {
    padding: 22px 20px;
    background: #15101C;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.actions {
    display: flex;
    gap: 8px;
}

.btn {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}