.layout {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  position: absolute;
  height: 100vh;
  box-sizing: border-box;
  padding: 30px;
  border-right: 1px solid var(--separator-color);
  display: flex;
  flex-direction: column;
}

.exit {
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text-color);
}

.link:hover {
  color: var(--primary-color);
}

.link-icon {
  width: 15px;
}

.active {
  color: var(--primary-color);
}

.user {
  margin-bottom: 40px;
  border-bottom: 1px solid var(--separator-color);
  padding-bottom: 20px;
}

.name {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--text-color);
}

.email {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #9ea1b1;
}

.content {
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.box {
  padding: 50px 70px;
  background: #1D1825;
  border-radius: 20px;
  display: flex;
  min-width: 450px;
  min-height: 400px;
}

.toggle {
  display: none;
}

.toggle-button {

}