:root {
  --primary-color: #9e78cf;
  --primary-hover-color: #8b5bce;
  --text-color: #a29f9f;
  --text-secondary-color: #5b5b5e;
  --white-color: #ffffff;
  --separator-color: #a29f9f;
  --primary-second-color: #ff6464;
  --font: "Inter", sans-serif;
  --second-font: "Circular Std", sans-serif;
}

body {
  font-family: var(--font);
  margin: 0;
  background: #1e1e1e;
}